.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
} /* Outer button container */
.outer-button {
  display: inline-block;
  position: relative;
  width: 150px; /* Set the desired width */
  height: 50px; /* Set the desired height */
  padding: 10px;
  background-color: orangered;
  background-image: radial-gradient(circle at center, #f1af44, #f55617);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: white;
}

/* Smaller button shape */
.outer-button::before {
  content: "";
  display: inline-block;
  width: 110px; /* Set the desired width */
  height: 30px; /* Set the desired height */
  background-color: none;
  border-radius: 40px;
  position: absolute;
  top: 35%;
  left: 50%;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  transform: translate(-50%, -50%);
}
